@media (max-width: 48rem) {
  .menu {
    z-index: var(--z-menu);
    box-sizing: border-box;
    display: flex;
    padding: 0.625rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: auto;
    max-height: auto;
    gap: 0.3125rem;
    &--show {
      width: -webkit-fill-available;
      height: -webkit-fill-available;
    }
    &__button {
      flex-shrink: 0;
      width: 2.5rem;
      aspect-ratio: 1/1;
      border-radius: 0.3125rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--bgContent);
    }
    &__icon {
      top: 0.3125rem;
      height: 1.5rem;
    }
    &--hidden {
      display: none;
    }
  }
}
