.main {
  overflow: auto;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  padding: .625rem;
  &__tabs {
    width: -webkit-fill-available;
    position: sticky;
    background-color: black;
    top: 0;
    display: flex;
    align-items: flex-start;
    padding-bottom: .625rem;
  }
  &__tab{
    background-color: transparent;
    font-size: 1rem;
    font-weight: 500;
    color: var(--textColor);
    padding: .625rem;
    border: 2px solid transparent;
    &--active{
      border-bottom: 2px solid var(--colorPrimary);
    }
  }
}
