:root {
  --shadowTarget: 0px 0px .4375rem #000000;
  --borderRadius:.3125rem;
}
.anime-info{
  width: 28.125rem;
  box-sizing: border-box;
  background-color: #151515;
  &__title {
    color: white;
    padding: 1.25rem;
  }
}
.tab {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content:  space-evenly;
  &__button {
    box-sizing: border-box;
    width: 100%;
    background-color: #00000000;
    color: #c5c5c5;
    padding-bottom: 1.25rem;
    border: .0625rem #00000000;
  }
  
}
.conteiner{
  width: 90%;
  height: 25rem;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  &__list {
    box-sizing: border-box;
    position: absolute;
    padding: 1.25rem;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(7.5rem, 1fr));
    gap: .625rem;
    justify-content:  space-evenly;
    flex-direction: row;
    width: 100%;
    height: auto;
    list-style: none;
    animation-duration: .2s;
    animation-name: traslateconteiner;
  }
  @keyframes traslateconteiner {
    from {
      transform: translateX(50%);
    }
  
    to {
      transform: translateX(0%);
    }
  }
  &__item {
    z-index: 2;
    width: 100%;
    border-radius: var(--borderRadius);
    box-shadow: var(--shadowTarget);
    & a{
      padding: 0;
      
    }
  }
}
.item{
  position: relative;
  &__text{
    color: #c5c5c5;
    padding: 1.25rem;
    margin: 0;
  }
    &__point{
     
      width: .625rem;
      height: .625rem;
      border-radius: .625rem;
      background-color: rgb(0, 255, 0);
      box-shadow: var(--shadowTarget);
      position: absolute;
      top: .3125rem;
      right: .3125rem;
      opacity: 0;
    }
}