:root {
  --shadowTarget: 0px 0px .4375rem #000000;
  --borderRadius:.3125rem;
}
.animeList {
  box-sizing: border-box;
  display: grid;
  gap: .9375rem;
  grid-template-columns: repeat(auto-fill, minmax(9.375rem, 1fr));
  align-items: center;
  padding: 1.25rem;
  flex: auto;
    height: 100%;
    overflow: auto;
}

.targetAnime {
  display: flex;
  box-shadow: var(--shadowTarget);
    flex-direction: column;
    border-radius: var(--borderRadius);
  &__img {
    border-radius: var(--borderRadius);
    width: 100%;
  }

  &__title {
    box-sizing: border-box;
    position: absolute;
    padding: .3125rem;
    margin: 0;
    width: 100%;
    bottom: .625rem;
    align-content: center;
    z-index: 100;
    color: rgb(255, 255, 255);
    text-shadow: var(--shadowTarget);
  }
  &__img-conteiner{
    position: relative;
    border-radius: var(--borderRadius);
    background-color: black;
  }
  &__pages {
    margin: 0;
    padding: .3125rem;
    color: rgb(255, 255, 255);
  }
    
  &__episode {
    background-color: #000000af;
    color: white;
    border-radius: var(--borderRadius);
    top: .3125rem;
    left: .3125rem;
    position: absolute;
    padding: .3125rem;
    font-size: .875rem;
  }
  &__point{
    width: .625rem;
    height: .625rem;
    border-radius: .625rem;
    background-color: rgb(0, 255, 0);
    box-shadow: var(--shadowTarget);
    position: absolute;
    top: .3125rem;
    right: .3125rem;
    opacity: 0;
  }
}