@import "./variables.scss";
@import "./buttons.scss";
@import "./input.scss";
@import "./icons.scss";
@import "./switch.scss";
.App {
  text-align: center;
  display: flex;
}
.app {
  &__bg {
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    filter: blur(9.375rem);
    &--back {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background: var(--color-primary);
      filter: var(--color-filter-brightness);
    }
    &--front {
      display: block;
      position: absolute;
      bottom: -6.25rem;
      right: -6.25rem;
      width: 12.5rem;
      border-radius: 50%;
      aspect-ratio: 1/1;
      background: var(--color-primary);
      
    }
  }
}
