@import './variables.scss';
@import './buttons.scss';
.App {
  text-align: center;
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.itemNewEpisodes{
  color: var(--colorPrimary);
  padding: 2%;
  transition: color 0.2s ease;
  display: inline;
}

