@mixin theme($theme: transparent, $color: var(--colorPrimary), $hover: $theme) {
  padding: .3125rem .75rem;
  border: 0;
  box-sizing: border-box;
  height: fit-content;
  width: fit-content;
  border-radius: .3125rem;
  font-size: var(--font-body);
  white-space: nowrap;
  background-color: $theme;
  color: $color;
  &:hover {
    background-color: $hover;
    filter: brightness(1.1);
  }
}
.button {
  @include theme($theme: var(--colorPrimary), $color: var(--textColor));
  &__secondary {
    @include theme($hover: #ffffff0e);
    border: 1px solid var(--colorPrimary);
  }
  &__danger {
    @include theme($theme: #fa5050, $color: var(--textColor));
  }
}
