@mixin theme($theme: transparent, $hover: $theme) {
  padding: .3125rem .75rem;
  border: 0;
  box-sizing: border-box;
  height: fit-content;
  width: fit-content;
  border-radius: .3125rem;
  font-size: var(--font-body);
  white-space: nowrap;
  background-color: $theme;
  color: var(--color-text);
  &:hover {
    background-color: $hover;
    filter: brightness(1.1);
  }
}
.button {
  @include theme($theme: var(--color-primary));
  &__secondary {
    @include theme($hover: #ffffff0e);
    border: 1px solid var(--color-primary);
  }
  &__withoutBorder {
    @include theme($hover: #ffffff0e);
    
    border: 1px solid transparent;
  }
  &__danger {
    @include theme($theme: #fa5050);
  }
  &__icon{
    @include theme($hover: #ffffff0e);
    display: flex;
    align-items: center;
    padding: 0;
    min-height: .625rem;
    aspect-ratio: 1/1;
  }
}
