input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input:focus-visible {
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

select:focus-visible {
  outline: none;
}

@mixin schemaInput ($max-width: 28.125rem, $bg: transparent) {
  background-color: transparent;
  color: var(--textColor);
  box-sizing: border-box;
  font-size: var(--font-body);
  height: fit-content;
  max-width: $max-width;
  width: -webkit-fill-available;
  padding: .3125rem .75rem;
  border: none;
  text-align: center;
  border-bottom: 1px solid var(--textColorAlt);

  &:hover,
  &:focus {
    border-bottom: 1px solid var(--colorPrimary);
    background-color: var(--bgContentAlt);
  }
}

.invalid {
  color: red !important;
  border-bottom: 1px solid red !important;
}

.input {
  @include schemaInput();

  &__password {
    @include schemaInput();

    &::-ms-reveal {
      border: 2px solid transparent;
      border-radius: 50%;
      background-color: currentColor;
    }
  }

  &__number {
    @include schemaInput($max-width: 4.375rem);
  }

  &__select,
  &__select select {
    @include schemaInput($max-width:4.3125rem);
  }
}