input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input:focus-visible {
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

select:focus-visible {
  outline: none;
}

@mixin schemaInput ($bg: transparent) {
  background-color: transparent;
  color: var(--color-text);
  border-radius: var(--br-secondary);
  box-sizing: border-box;
  font-size: var(--font-body);
  height: fit-content;
  width: -webkit-fill-available;
  padding: .3125rem .75rem;
  border: none;
  text-align: center;
  border-bottom: 1px solid var(--color-text);

  &:hover,
  &:focus {
    border-bottom: 1px solid var(--color-primary);
    background-color: var(--color-content-alt);
  }
}

.invalid {
  color: red !important;
  border-bottom: 1px solid red !important;
}
.inputBox {
  height: fit-content;
  width: -webkit-fill-available;
}
.input {
  @include schemaInput();

  &__number {
    @include schemaInput();
  }

  &__select,
  &__select select {
    @include schemaInput();
  }
}