.popup {
  position: absolute;
  &__inTablet {
    position: relative;
  }
}
@media (max-width: 48rem) {
  .popup__inTablet {
    position: absolute;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
  }
}
