:root {
  // --colorPrimary: #3d7bff;
  // --textColor: #f5f5f5;
  // --textColorAlt: #a0a0a0;
  // --bg: #000000;
  // --bgContent: #171717ee;
  // --bgContentAlt: #1f1f1f;
  // --bgContentHover: #202020;

  // STYLESHEETS --------------------------------------------------------
  --br-primary: 0.625rem;
  --br-secondary: 0.3125rem;

  // COLORS ----------------------------------------------------------------
  --color-primary: #3d7bff;
  --color-danger: #f44336;
  --color-warning: #ff9800;
  --color-bg: #080808;
  --color-bg-80: #080808f5;
  --color-content: #161616;
  --color-content-80: #161616cc;
  --color-content-50: #16161680;
  --color-content-30: #1616164d;
  --color-content-alt: #1f1f1f;
  --color-text: #f7f7f7;
  --color-text-alt: #adadad;
  --color-filter-brightness: brightness(0.04);
  // Z-INDEX ----------------------------------------------------------------
  --z-episode: 50;
  --z-menu: 100;
  --z-menu-icon: 150;
  --z-modal: 200;

  // FONTS ----------------------------------------------------------------
  --font-weight-semiblod: 600;
  --font-title: 1.25rem;
  --font-subtitle: 0.9375rem;
  --font-body: 0.75rem;
}
[data-theme="light"] {
  --color-bg: #fafafa;
  --color-bg-80: #fafafacc;
  --color-content: #dbdbdb;
  --color-content-80: #dbdbdbcc;
  --color-content-50: #dbdbdb80;
  --color-content-30: #dbdbdb4d;
  --color-content-alt: #c7c7c7;
  --color-text: #000000;
  --color-text-alt: #666666;
  --color-filter-brightness: contrast(0.2) brightness(2.9);
}
