.renderList {
  box-sizing: content-box;
  width: inherit;
  max-width: 75rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  padding: 1.5625rem;

  &__targets {
    box-sizing: border-box;
    display: grid;
    gap: 1.25rem;
    grid-template-columns: repeat(auto-fill, minmax(8.75rem, 1fr));
    align-items: center;
    flex: auto;
  }
}
