.targetAnime {
  display: flex;
  flex-direction: column;
  height: max-content;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  user-select: none;
  &__img {
    box-shadow: var(--shadowTarget);
    border-radius: var(--br-secondary);
    background-color: var(--bgContent);
    background-image: url("../../../../../public/resources/loadingImg.gif");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    aspect-ratio: 6/9;
    height: 100%;
    &--opaque {
      transition: filter 0.5s;
      filter: grayscale(0.5) brightness(0.6);
    }
  }

  &__title {
    box-sizing: border-box;
    width: -webkit-fill-available;
    min-height: auto;
    max-height: calc(var(--font-body) * 2 + 0.25rem);
    bottom: 0;
    display: flex;
    position: absolute;
    overflow: hidden;
    font-size: var(--font-body);
    box-sizing: content-box;
    padding: 0.25rem;
    box-shadow: 0px 0px 20px 20px #00000080;
    color: var(--color-text);
    background: #00000080;
    flex-direction: column;
  }
  &__episode {
    z-index: var(--z-episode);
    background-color: var(--color-content);
    border-radius: var(--br-secondary);
    top: 0.3125rem;
    right: 0.3125rem;
    position: absolute;
    padding: 0.3125rem 0.625rem;
    &--icon {
      height: var(--font-body);
      aspect-ratio: 1/1;
      width: auto;
    }
    &--text {
      display: flex;
      align-items: center;
      gap: 0.3125rem;
      justify-items: center;
      white-space: nowrap;
      font-size: var(--font-body);
      font-weight: 600;
      color: #ffff;
      mix-blend-mode: difference;
      filter: saturate(0) contrast(0);
    }
  }
}
