.targetAnime {
  display: flex;
  flex-direction: column;
  height: max-content;
  overflow: hidden;
  position: relative;
  aspect-ratio: 6/9;
  box-sizing: border-box;
  box-shadow: var(--shadowTarget);
  border-radius: var(--borderRadius);
  background-color: var(--backgroundColorAlternative);
  user-select: none;
  &__img {
    background-image: url('../../../../../public/resources/loadingImg.gif');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__title {
    box-sizing: border-box;
    position: absolute;
    padding: .625rem .3125rem;
    margin: 0;
    width: 100%;
    bottom: 0;
    font-size: .8125rem;
    color: var(--textColor);
    background-image: linear-gradient(0deg, #00000080,#00000080,#00000080,#00000080,#00000020, transparent);
  }
  &__episode {
    background-color: #000000af;
    color: var(--textColor);
    border-radius: var(--borderRadius);
    top: .3125rem;
    left: .3125rem;
    position: absolute;
    padding: .3125rem .625rem;
    font-size: .875rem;
    &--active{
      background-color: var(--colorPrimary);
    }
  }
  &--active{
    border-bottom: .25rem solid var(--colorPrimary);
    text-shadow: 0 0 8px #000000;
  }
}