.targetAnime {
  display: flex;
  flex-direction: column;
  height: max-content;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  user-select: none;
  &__img {
    box-shadow: var(--shadowTarget);
    border-radius: var(--borderRadius);
    background-color: var(--bgContent);
    background-image: url('../../../../../public/resources/loadingImg.gif');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    aspect-ratio: 6/9;
    height: 100%;
    &--opaque {
      transition: filter .5s;
      filter: grayscale(0.5) brightness(0.6);
    }
  }

  &__title {
    box-sizing: border-box;
    padding: 0.3125rem 0;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0.8125rem;
    color: var(--textColor);
  }
  &__episode {
    z-index: var(--z-episode);
    background-color: #000000af;
    color: var(--textColor);
    border-radius: var(--borderRadius);
    display: flex;
    justify-items: center;
    white-space: nowrap;
    font-weight: 500;
    gap: 0.3125rem;
    top: 0.3125rem;
    right: 0.3125rem;
    position: absolute;
    padding: 0.3125rem 0.625rem;
    font-size: .8125rem;
    height: 1.125rem;
  }
}
