.dashboardScraping{
  display: flex;
  padding: 1.25rem;
  width: -webkit-fill-available;
  &__section{
    display: flex;
    justify-content: space-between;
    &--title {
      font-size: var(--font-subtitle);
    }
    & svg {
      height: 1.5rem;
      aspect-ratio: 1/1;
    }
  }
}