.profile {
  position: relative;
  display: flex;
  align-items: center;

  &__logo {
    height: 2.8125rem;
    aspect-ratio: 1/1;
    border: 0.125rem solid green;
    border-radius: 3.125rem;
    padding: 0.1875rem;
    cursor: pointer;
    &--loading {
      border: 0.125rem solid transparent;
      filter: grayscale(1);
      animation: loading 1s infinite;
    }
    &--error {
      border: 0.125rem solid transparent;
      filter: grayscale(1);
    }
  }
  &__options {
    position: absolute;
    right: 0;
    top: 4.0625rem;
    background-color: var(--color-content);
    border-radius: var(--br-secondary);
    display: flex;
    list-style: none;
    flex-direction: column;
    overflow: hidden;
    &--hidden {
      position: absolute;
      display: none;
    }
  }
  &__option {
    color: var(--color-text-alt);
    font-size: var(--font-title);
    display: flex;
    user-select: none;
    align-items: center;
    padding: .625rem;
    gap: .625rem;
    text-wrap: nowrap;
    &--icon {
      height: calc(var(--font-title) + 0.25rem);
    }
    &:hover {
      color: var(--color-text);
      background: var(--color-content-alt);
    }
  }
}
@keyframes loading {
  0% {
    filter: grayscale(0);
  }
  50% {
    filter: grayscale(1);
  }
  100% {
    filter: grayscale(0);
  }
}