@import url(./blocks/fetchLoading.scss);
.anime-info {
  width: 28.125rem;
  padding: 0.9375rem;
  box-sizing: border-box;
  background-color: var(--backgroundColorAlternative);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.animeInfoHeader {
  width: 100%;
  display: flex;
  &__img {
    aspect-ratio: 6/9;
    width: 9.375rem;
    overflow: hidden;
    border-radius: var(--borderRadius);
  }
  &__container {
    display: flex;
    flex-direction: column;
    padding-left: 0.625rem;
    width: inherit;
    position: relative;

    &--title {
      display: flex;
      align-items: center;
      margin-bottom: 0.625rem;
      border-radius: var(--borderRadius);
      justify-content: center;
      flex-grow: 1;
    }
    &--info {
      color: var(--textColor);
      display: flex;
    }
  }
}
.properties {
  padding: 0.4375rem 0.625rem;
  font-size: .8125rem;
  border-radius: var(--borderRadius);
  background-color: var(--backgroundColorContent);
}
.anilist {
  position: absolute;
  top: 0;
  right: 0;
  margin-left: auto;
  color: var(--textColor);
  padding: .125rem .3125rem;
  background-color: rgba(0, 0, 24, 0.342);
  border-radius: var(--borderRadius);
  display: flex;
  align-items: center;
  width: fit-content;
  &__img {
    width: 1.1875rem;
  }
  &__externalLink{
    font-size: .8125rem;
    margin-right: .3125rem;
  }
}
.tab {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  &__button {
    box-sizing: border-box;
    width: 100%;
    background-color: #00000000;
    color: #c5c5c5;
    padding-bottom: 1.25rem;
    border: 0.0625rem #00000000;
  }
}
.conteiner {
  width: 100%;
  height: 25rem;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  &__select {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    background-color: var(--backgroundColorContent);
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 0.625rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    list-style: none;
    border-radius: var(--borderRadius);
    animation-duration: 0.2s;
    animation-name: traslateconteiner;
  }
  @keyframes traslateconteiner {
    from {
      transform: translateX(50%);
    }
    to {
      transform: translateX(0%);
    }
  }
}
.item {
  display: flex;
  padding: 0.4375rem 1.5625rem;
  align-items: center;
  &__text {
    color: var(--textColor);
    &--newEp {
      position: absolute;
      transform: translate(-1.25rem);
    }
    &--timeAgo {
      color: var(--textColorAlternative);
      flex-grow: 1;
      text-align: end;
    }
    &--externalLink {
      margin-left: 0.625rem;
      color: var(--textColorAlternative);
      font-size: 90%;
    }
  }
  &:hover {
    background-color: var(--backgroundColorContentHover);
  }
}
.episodes {
  position: relative;
  &__select {
    width: 15.625rem;
    box-sizing: border-box;
    border-radius: var(--borderRadius);
    padding: 0.4375rem 0.625rem;
    background-color: var(--backgroundColorContent);
    display: flex;
    user-select: none;
    &:hover {
      background-color: var(--backgroundColorContentHover);
    }
  }
  &__options {
    position: absolute;
    z-index: 10;
    width: 15.625rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: var(--backgroundColorContent);
    box-shadow: var(--shadowTarget);
    border-radius: var(--borderRadius);
    overflow: hidden;
    left: 0;
    top: 2.375rem;
    user-select: none;
  }
  &__option {
    display: flex;
    padding: 0.4375rem 0.625rem;
    &--namePage {
      width: -webkit-fill-available;
      text-align: left;
    }
    &:hover {
      background-color: var(--backgroundColorContentHover);
    }
  }
}
