.metadata {
  display: flex;
  gap: 0.3125rem;
  width: -webkit-fill-available;
  align-items: center;
  justify-content: center;

  flex-wrap: wrap;
  &__item {
    cursor: default;
    height: 1.375rem;
    display: flex;
    align-items: center;
    gap: 0.125rem;
    box-sizing: border-box;
    justify-items: center;
    font-size: 0.75rem;
    background-color: var(--bgContentAlt);
    color: var(--font-subcolor);
    padding: 0.1875rem 0.4375rem;
    border-radius: 0.3125rem;
    white-space: nowrap;
  }
  &__star {
    width: 0.75rem;
    aspect-ratio: 1/1;
  }
}
.anilist {
  display: flex;
  gap: 0.3125rem;
  color: var(--font-subcolor);

  padding: 0.125rem 0.3125rem;
  margin: 0.3125rem 0;
  background-color: var(--bgContentAlt);
  border-radius: var(--borderRadius);
  white-space: nowrap;
  align-items: center;
  width: inherit;
  &__text {
    width: auto;
    font-size: var(--font-subtitle);
  }
  &__i {
    background-image: url('../../../../../../public/pages_icons/anilist.svg');
    aspect-ratio: 1/1;
    height: -webkit-fill-available;
    width: 1.25rem;
    background-size: contain;
  }
}
.description {
  display: grid;
  gap: 0.625rem;
  grid-template-columns: 6.6875rem auto;
  grid-template-rows: 1rem 7.8125rem;
  justify-items: start;
  cursor: default;
  &__img {
    width: -webkit-fill-available;
    border-radius: 0.3125rem;
    grid-row: 1/3;
  }
  &__title {
    font-size: var(--font-subtitle);
    font-weight: var(--font-weight-semiblod);
  }
  &__body {
    display: flex;
    padding-right: 0.3125rem;
    flex-direction: column;
    color: var(--font-subcolor);
    overflow-y: auto;
    text-align: left;
    gap: 0.5rem;
  }
}
.title {
  font-size: var(--font-title);
  transition: color 0.2s ease;
}
.actions {
  display: flex;
  width: -webkit-fill-available;
  &__close {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    aspect-ratio: 1/1;
    width: 1.875rem;
    border-radius: 0.3125rem;
    padding: 0 0.3125rem;
    border: 0;
    background-color: transparent;
    color: var(--colorPrimary);
    transition: background-color 0.2s ease;
    &--i {
      width: inherit;
    }
    &:hover {
      background-color: var(--bgContentHover);
    }
  }
  &__space {
    width: -webkit-fill-available;
    height: auto;
  }
}
.episodesList {
  display: flex;
  width: -webkit-fill-available;
  justify-content: space-between;
  align-items: center;
  &__lastUpdate {
    font-size: var(--font-subtitle);
    color: var(--font-subcolor);
    display: flex;
    align-items: center;
    gap: .625rem;
    &--i {
      height: var(--font-subtitle);
    }
  }
}
.list {
  height: -webkit-fill-available;
  min-height: 6.25rem;
  background-color: var(--bgContentAlt);
  grid-column: 1/3;
  padding: 0.625rem;
  border-radius: 0.3125rem;
  overflow: auto;
  &__item {
    display: flex;
    align-items: center;
    padding: 0.125rem;
    gap: 0.625rem;
    color: var(--font-subcolor);
    width: -webkit-fill-available;

    &--title {
      color: var(--font-color);
      cursor: default;
      text-align: start;
      padding-bottom: 0.625rem;
      font-size: var(--font-subtitle);
      font-weight: var(--font-weight-semiblod);
    }
    &--episode {
      padding: 0.3125rem 0;
      white-space: nowrap;
    }
    &:hover {
      background-color: var(--bgContentHover);
    }
    &--episodeNew {
      color: var(--font-color);
      font-weight: var(--font-weight-semiblod);
    }
    &--lastUpdate {
      width: -webkit-fill-available;
      text-align: end;
    }
    &--redirect {
      height: 0.875rem;
      aspect-ratio: 1/1;
    }
  }
}
.option {
  padding: 0.3125rem 0.625rem;
  border-left: 0.1875rem solid transparent;
  text-align: start;
  font-size: var(--font-subtitle);
  &__new {
    border-left: 0.1875rem solid var(--colorPrimary);
  }
}
