@mixin Status($color) {
  width: .3125rem;
  flex-shrink: 0;
  height: 1.5625rem;
  background-color: $color;
}
.status {
  @include Status($color: grey);
  &__critical {
    @include Status($color: red);
  }
  &__warn {
    @include Status($color: orange);
  }
  &__normal {
    @include Status($color: green);
  }
}
.statusLine {
  display: flex;
  flex-direction: column;
  gap: .1875rem;
  &__status {
    display: flex;
    gap: 0.125rem;
    flex-direction: row-reverse;
  }
  &__texts {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--font-subcolor);
    color: var(--font-subcolor);
  }
}
