.containerMain {
  display: grid;
  grid-template-columns: 15.625rem auto;
  grid-template-rows: min-content;
  gap: .625rem;
}
.gridRow1-auto {
  grid-row: 1/ span 2; // to occupy the entire first column
  height: -webkit-fill-available;
}
.userNav {
  background-color: var(--bgContent);
  position: sticky;
  top: 3.375rem;
  display: flex;
  flex-direction: column;
  &>a {
    font-size: var(--font-subtitle);
    color: var(--textColor);
    padding: .3125rem .75rem;
    text-align: left;

    &:hover {
      background-color: var(--bgContentAlt);
    }
  }
}

.sectionContainer {
  display: flex;
  padding: 0.625rem;
  background: var(--bgContent);
  flex-direction: column;
  border-radius: .3125rem;
  width: -webkit-fill-available;
  gap: .4375rem;

  &__title {
    display: flex;
    padding-bottom: .625rem;
    align-self: start;
    font-size: var(--font-title);
  }
}
@media (max-width: 48rem) {
  .containerMain {
    display: flex;
    flex-direction: column;
  }
  .userNav {
    position: static;
  }
}