.user {
  &__title {
    display: flex;
    align-self: start;
    font-size: 1.25rem;
  }
  &__nav {
    width: 15.625rem;
    background: var(--bgContent);
    font-size: 0.875rem;
  }
  &__optionsContainer {
    width: -webkit-fill-available;
    background: var(--bgContent);
    padding: 0.625rem;
  }
  &__options {
    display: flex;
    flex-direction: column;
    &--rigth {
      display: flex;
      align-self: flex-end;
    }
  }
}
.userTarget {
  display: grid;
  gap: .625rem;
  grid-template-columns: min-content max-content;
  grid-template-rows: repeat(2, min-content);
  &__img {
    border-radius: 3.125rem;
    width: 6.25rem;
    grid-row: 1/3;
    aspect-ratio: 1/1;
  }
  &__username {
    display: flex;
    font-size: 1.25rem;
    align-items: flex-end;
  }
}
