.option {
  display: flex;
  width: -webkit-fill-available;
  gap: .9375rem;
  align-items: center;

  &__info {
    display: flex;
    gap: .3125rem;
    flex-direction: column;
    width: -webkit-fill-available;
  }

  &__actions {
    display: flex;
    gap: .3125rem;
    flex-direction: row;
  }

  &__title {
    font-size: var(--font-subtitle);
    font-weight: 500;
    color: var(--textColor);
    align-self: start;
  }

  &__description {
    font-size: var(--font-body);
    color: var(--textColorAlt);
    width: auto;
    align-self: start;
  }
}