.episodesLink {
  height: -webkit-fill-available;
  overflow-y: auto;
  background-color: var(--bgContentAlt);
  border-radius: 0.3125rem;
  &--empty {
    height: -webkit-fill-available;
    display: flex;
    align-items: center;
    overflow-y: auto;
    background-color: var(--bgContentAlt);
    padding: 1.25rem;
    border-radius: 0.3125rem;
  }
  &__item {
    font-size: 0.8125rem;
  }
}
.item {
  display: flex;
  gap: 0.3125rem;
  height: 1.25rem;
  padding: 0.4375rem 1.25rem;
  align-items: center;
  &__text {
    color: var(--textColor);
    height: 0.8125rem;
    &--newEp {
      height: 0.8125rem;
    }
    &--timeAgo {
      color: var(--textColorAlt);
      flex-grow: 1;
      text-align: end;
    }
    &--externalLink {
      height: 0.8125rem;
      color: var(--textColorAlt);
      font-size: 90%;
    }
  }
  &:hover {
    background-color: var(--bgContentHover);
  }
}
