@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-SemiBold.ttf');
  font-style: normal;
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}
div, a, h1, h2, h3, h4, h5, h6, p, span {
  font-size: var(font-body);
  font-weight: 400;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg);
  color: var(--color-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
a {
  text-decoration: none;
}
*::-webkit-scrollbar {
  width: .4375rem; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: #2c2c2c52;
  border-radius: .2188rem;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-primary); /* color of the scroll thumb */
  border-radius: 0.3125rem; /* roundness of the scroll thumb */
}
