.contribute{
  display: flex;
  align-items: center;
  width: 100%;
  gap: .625rem;
  &__img{
    width: 2.5rem;
    aspect-ratio: 1/1;
  }
  &__text{
    text-align: left;
    font-size: .8125rem;
    color: var(--color-text-alt);
  }
}