.properties {
  padding: 0.4375rem 0.625rem;
  font-size: 0.8125rem;
  border-radius: var(--br-primary);
}
.renderInfo {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 25rem;
  height: -webkit-fill-available;

  overflow: auto;
  padding: 0.625rem;
  border-radius: 0.3125rem;
  display: flex;
  gap: 0.625rem;
  flex-direction: column;
  background-color: var(--color-bg-80);

  backdrop-filter: blur(3.125rem);
  -webkit-backdrop-filter: blur(0.625rem);
  &__discord {
    height: -webkit-fill-available;
  }
  &__lastUpdate {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.875rem;
    color: var(--color-text-alt);
    position: relative;
    gap: 0.3125rem;
    width: -webkit-fill-available;
    padding: 0.3125rem 0;
    &--icon {
      height: 0.8125rem;
    }
  }
}
.tab {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  &__button {
    box-sizing: border-box;
    width: 100%;
    background-color: #00000000;
    color: #c5c5c5;
    padding-bottom: 1.25rem;
    border: 0.0625rem #00000000;
  }
}

@media (max-width: 48rem) {
  .renderInfo {
    box-sizing: border-box;
    flex-shrink: 1;
    max-width: 25rem;
    width: auto;
    &--hidden {
      display: none;
    }
  }
}
