.properties {
  padding: 0.4375rem 0.625rem;
  font-size: 0.8125rem;
  border-radius: var(--borderRadius);
  background-color: var(--backgroundColorContent);
}
.renderInfo {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 25rem;
  height: -webkit-fill-available;

  overflow: auto;
  padding: 0.625rem;
  border-radius: 0.3125rem;
  display: flex;
  gap: 0.625rem;
  flex-direction: column;
  background-color: var(--bgContent);

  backdrop-filter: blur(0.625rem);
  -webkit-backdrop-filter: blur(0.625rem);
  &__discord {
    height: -webkit-fill-available;
  }
  &__lastUpdate {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.875rem;
    color: var(--textColorAlt);
    position: relative;
    gap: 0.3125rem;
    width: -webkit-fill-available;
    padding: 0.3125rem 0;
    &--icon {
      height: 0.8125rem;
    }
  }
}
.tab {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  &__button {
    box-sizing: border-box;
    width: 100%;
    background-color: #00000000;
    color: #c5c5c5;
    padding-bottom: 1.25rem;
    border: 0.0625rem #00000000;
  }
}
.conteiner {
  width: 100%;
  height: 25rem;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  &__select {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    background-color: var(--backgroundColorContent);
    box-sizing: border-box;
    overflow-x: hidden;
    margin-top: 0.625rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    list-style: none;
    border-radius: var(--borderRadius);
    animation-duration: 0.2s;
    animation-name: traslateconteiner;
    &::-webkit-scrollbar-track {
      background: var(--backgroundColorContent);
      border-top-right-radius: var(--borderRadius);
      border-bottom-right-radius: var(--borderRadius);
    }
    &::-webkit-scrollbar-thumb {
      border: 0.3125rem solid var(--backgroundColorContent);
    }
  }
  @keyframes traslateconteiner {
    from {
      transform: translateX(50%);
    }
    to {
      transform: translateX(0%);
    }
  }
}
.episodes {
  position: relative;
  &__select {
    width: 12.5rem;
    box-sizing: border-box;
    border-radius: var(--borderRadius);
    padding: 0.4375rem 0.625rem;
    background-color: var(--backgroundColorContent);
    display: flex;
    user-select: none;
    &:hover {
      background-color: var(--backgroundColorContentHover);
    }
  }
  &__options {
    position: absolute;
    z-index: 10;
    width: 15.625rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: var(--backgroundColorContent);
    box-shadow: var(--shadowTarget);
    border-radius: var(--borderRadius);
    overflow: hidden;
    left: 0;
    top: 2.375rem;
    user-select: none;
  }
  &__option {
    display: flex;
    padding: 0.4375rem 0.625rem;
    &--namePage {
      width: -webkit-fill-available;
      text-align: left;
    }
    &:hover {
      background-color: var(--backgroundColorContentHover);
    }
  }
}
@media (max-width: 48rem) {
  .renderInfo {
    box-sizing: border-box;
    flex-shrink: 1;
    max-width: 25rem;
    width: auto;
    &--hidden {
      display: none;
    }
  }
}
