.setting {
  width: -webkit-fill-available;
  &__contentOptions {
    width: -webkit-fill-available;
    margin: auto;
    padding: 0.625rem;
    max-width: 75rem;
    &--anchor {
      position: relative;
      top: -6.875rem;
    }
    &--title {
      text-align: left;
      font-size: calc(var(--font-title) * 1.2);
      color: var(--color-primary);
      font-weight: 700;
      border-bottom: 1px solid var(--color-text-alt);
      padding-top: 1.25rem;
      padding-bottom: .9375rem;
    }
  }
}
.optionSetting {
  display: flex;
  gap: 0.625rem;
  align-items: center;
  padding: 1.25rem 0;
  margin-left: 0.625rem;
  width: -webkit-fill-available;
  justify-content: space-between;
  border-bottom: 0.0625rem solid var(--color-text-alt);
  &__title {
    font-size: var(--font-title);
    margin-right: 0.625rem;
    align-self: center;
  }
  &__description {
    width: -webkit-fill-available;
    font-size: var(--font-subtitle);
    color: var(--color-text-alt);
    text-align: left;
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
  }
  &__action {
    flex-shrink: 0;
  }
}
.optionNotification {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
  font-size: var(--font-body);
  width: fit-content;
  height: fit-content;
  color: var(--color-text-alt);
  border-radius: var(--br-secondary);
  padding: 0.3125rem;
  border: 1px solid var(--color-text-alt);
  &__icon {
    height: var(--font-body);
    aspect-ratio: 1/1;
    flex-shrink: 0;
  }
  &--susses {
  }
  &--denied {
  }
  &--warning {
  }
  &--disabled {
  }
}
.settingNav {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  height: 6.25rem;
  background: var(--color-bg);
  padding: 0.9375rem;
  box-sizing: border-box;
  gap: 0.9375rem;
  &__select {
    display: flex;
    position: relative;
    cursor: pointer;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    font-size: var(--font-subtitle);
    border-radius: var(--br-secondary);
    width: fit-content;
    height: fit-content;
    background: var(--color-content);
    align-items: center;
    gap: 0.625rem;
    padding: 0.625rem;
    align-items: center;
    & svg {
      height: var(--font-title);
      aspect-ratio: 1/1;
      rotate: -180deg;
    }
  }
  &__options {
    display: none;
    position: absolute;
    border-radius: var(--br-secondary);
    overflow: hidden;
    top: calc(var(--font-title) + 0.625rem * 3);
    left: 0;
  }
  &__select:focus > &__options {
    display: flex;
    flex-direction: column;
    background: var(--color-content);
    flex-wrap: nowrap;
    & a {
      padding: 0.625rem;
      color: var(--color-text-alt);
      text-wrap: nowrap;
      &:hover {
        background: var(--color-content-alt);
      }
    }
  }
  &__backButton {
    height: var(--font-title);
    aspect-ratio: 1/1;
    color: var(--color-text-alt);
    &:hover {
      color: var(--color-primary);
    }
  }
}
