.userForm {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  max-width: 28.125rem;
  padding: .9375rem;
  border-radius: .625rem;
  border: .0625rem solid var(--color-text-alt);

  &__label {
    background-color: transparent;
    cursor: default;
    font-size: var(--font-body);
    width: fit-content;
    height: fit-content;
    margin: .625rem 0 0 0;
    border: none;
  }

  &__submit {
    margin-top: .9375rem;
    align-self: center;
  }
}