.sign{
  display: flex;
  margin-top: .625rem;
    height: -webkit-fill-available;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.signForm {
  gap: .9375rem;
  max-width: 31.25rem;
  width: -webkit-fill-available;
  padding: 1.25rem;
  border-radius: .625rem;
  background-color: var(--bgContent);
  display: flex;
  align-items: center;
  flex-direction: column; 
  &__title{
    font-size: var(--font-title);
  }
  &__contents{
    display: flex;
    gap: .625rem;
  }
 
}